body {
    background-image: url('./Zelda\ Image.webp');
    margin: 0;
    padding: 0;
}
#board {
    background-image: url('./Zelda\ Image.webp');
    background-color: rgb(187, 230, 247);
    height: 100vh;
    position: relative;
}

#player {
    background-image: url('./Link_funny-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.obstacle {
    background-image: url('./Cuckoo\ Pixelated.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}