body {
    background-color: #ffe09c;
    margin: 0;
    padding: 0;
}
#board {
    background-color: rgb(187, 230, 247);
    height: 100vh;
    position: relative;
}

#player {
    background-color: green;
    position: absolute;
}